@page "/"

@inject NavigationManager NavigMened

<Link href="/IndexStyles.css" rel="stylesheet" type="text/css" />
<Link href="/IndexStyles1.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

<PageTitle>Index</PageTitle>


<!--<EditForm OnSubmit="OnTest">
	<div class="contacts_form">
		<button type="submit" class="form_btm" id="form_btm_id"> Начать тестирование </button>	
	</div>
</EditForm>  -->  

<div class = "text_blok">
	 <div  > 
		 <p class = "text_test"> <b> ТЕСТ: </b> ОПРЕДЕЛИ СВОИ  <b style= "color: crimson;">  КЛЮЧЕВЫЕ АРХЕТИПЫ </b> ЛИЧНОСТИ </p>
	</div>

	<div class = "text_test1">
		<b> Этот тест </b> - первый шаг по построению сильного личного бренда. Благодаря ему ты узнаешь свои ведущие архетипы и сможешь использовать их для определния своей уникальности и суперсилы!

	</div>

	<div>
		<div class = "text_test2"> Как пройти тест: </div>
		<p class = "text_test3"> Тест состоит из 10 вопросов, где тебе будет необходимо выбирать наиболее подходящие для тебя утверждения</p>
		<p class = "text_test3"> Для наиболее точного результата я рекомендую выделить 10 мин времени, не отвлекаться и отвечать на вопросы максимально честно и вдумчиво</p>
		<p class = "text_test3"> После прохождения теста необходимо будет указать контактные данные</p>

	</div>
</div>
 
 

<div class="form">
	<img alt="vl2" src="/vl2.png" style= "width: 450px; height: 450px;"/> 
	<form name="cont_form" action="">
		<br>			
		<br>				
		<br>				
		<br>				
		<!-- <input type="submit" value="Отправить" class="form_btm"> -->          
	    <button class="form_btm" @onclick="OnTest"> Начать тестирование </button>	
   </form>
                
</div>  
	
@* <AuthorizeView> *@
	<div class = "ref">
		<a href = "https://localhost:7182/newQuestion" target="_blank" > редактирование теста </a>
	</div>
@* </AuthorizeView> *@

@code {

	public void OnTest()
	{
		NavigMened.NavigateTo("/test");
	}

}


<!-- <SurveyPrompt Title="How is Blazor working for you?" /> --> 
